.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.logo {
  height: 32px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h2 {
  margin: 0;
  font-size: 20px;
}

.themeSwitch {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
